<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    list
    <nav>
        <a href="/">home</a>
        <a href="/list">list</a>
        <a href="/new">new</a>
    </nav>
    <div>
        <% if (posts.length > 0) { %>
            <ul>
            <% for (var i = 0; i < posts.length; i++) { %>
                <li><a href="/read/<%= posts[i]._id%>"><%= posts[i].title %></a></li>
            <% } %>
            </ul>
        <% } else { %>
            No posts yet!
        <% } %>
    </div>
</body>
</html>