<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    index
    <nav>
        <a href="/">home</a>
        <a href="/list">list</a>
        <a href="/new">new</a>
    </nav>
    <div>
        <%=post.title%>
    </div>
</body>
</html>