<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <% include head %>
</head>
<body>
    <ul class="nav nav-pills">
        <li><a href="/">home</a></li>
        <li><a href="/new">new</a></li>
        <li class="active"><a>read</a></li>
    </ul>
    <div>
        <%=post.title%>
    </div>
</body>
</html>